{% extends 'base.html' %}

{% block title %}
Головна сторінка
{% endblock %}

{% block  body %}
<div class="container">

  <main>
    <section class="py-5 text-center container">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Найкрасивіші країни Європи</Нв></h1>
          <p class="lead text-muted">Короткий опис про країни</p>
        </div>

    </section>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 g-2">
        {% for el in data %}
          <div class="col">
            <div class="card shadow-sm">
              <img src="{{ el.image }}" alt="Paris" width="100%" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
              <div class="card-body">
                <p class="card-text">{{ el.intro }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a class="text-dark text-decoration-none" href="posts">Відредагувати</a></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
  </main>
</div>
{% endblock %}