{% extends 'base.html' %}

{% block title %}
Оновлення статті
{% endblock %}

{% block  body %}
<div class="container">
    <h1>Оновлення статті</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control"  value="{{ article.title }}" placeholder="Введіть назву"><br>
        <textarea name="intro" id="intro" class="form-control"  placeholder="Введіть анонс">{{ article.intro }}</textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Введіть основний текст">{{ article.text }}</textarea><br>
        <input type="submit" class="btn btn-success" value="Оновити"><br>
    </form>
</div>
{% endblock %}